{% extends "layout.html" %}
{% block body %}
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{url_for('static',filename='img/img1.jpg')}}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Beautiful Memories</span>
            <span class="section-heading-lower">Worth Remembering</span>
          </h2>
          <p class="mb-3">Your Presence can create a smile in someone's face especially in beautiful celebrations. Your 24/7 assistant guarantee your wish or invitation to your beloved in your fruitful sleep. Therefore, let your absence doesn't matter in the busy schedule to ur beloved. ! </p>

        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Our Promise</span>
              <span class="section-heading-lower">To You</span>
            </h2>
            <p class="mb-0">When you add your dearest contact, we take the responsibility of your invitation/wish. We make  your presence felt and your relationship will be remembered. Your 24/7 assistant will guarantee your wish/invitation at your service. </p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
